.body{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 50px;
    padding: .6rem 0;
    width: 100%;
    background-image: -webkit-linear-gradient(left , #ffcc99, #ff3399);
}

.ph{
    font-size: 1em;
    color: white;
    text-align:center;
}

.ib{
    width:50%;
    height:50%;
    margin: 0 auto;
}

.sbtn{
    width:12em;
}